<div class="links">
<h1>Related Projects</h1>

<!-- HSW12 -->
<div class="link">
<a class="active" href="http://hotwolf.github.com/HSW12">
<h1>HSW12</h1>
Assemler and IDE
</a>
</div><!--<div id="link">-->

<!-- S12CBase -->
<div class="link">
<a class="active" href="http://hotwolf.github.com/S12CBase">
<h1>S12Base</h1>
Low-level drivers for S12 MCUs
</a>
</div><!--<div id="link">-->

<!-- Mini-BDM-Pod -->
<div class="link">
<a class="active" href="http://hotwolf.github.com/Mini-BDM-Pod">
<h1>Mini-BDM-Pod</h1>
A D-Bug12Xv5 compatible BDM Pod
</a>
</div><!--<div id="link">-->

<!-- OpenBDC -->
<div class="link">
<a class="active" href="http://hotwolf.github.com/OpenBDC">
<h1>OpenBDC</h1>
A Forth-based BDM pod firmware
</a>
</div><!--<div id="link">-->

</div><!--<div id="links">-->
